
<article class="listing">
 <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
  <img src="{{show.image}}" alt="">
   <small>View Larger</small>
 </a>
  <h3>{{show.title}}</h3> 
<div>
    {{input type="radio" name=(concat 'watchedstatus-' show.id) value=show.watchstatus checked=show.watchstatus }}Watched<br />
    {{input type="radio" name=(concat 'watchedstatus-' show.id) value=show.watchstatus   checked=show.watchstatus }}Watched some of it<br />
    {{input type="radio" name=(concat 'watchedstatus-' show.id) value=show.watchstatus  checked=show.watchstatus }}Did not watch<br />

</div>
  <div class="detail owner">
    <span>Producer:</span> {{show.producer}}
  </div>
  <div class="detail type">
    <span>Rating:</span> {{show.rating}}
  </div>
    <div class="detail status">
    <span>Watch Status:</span> {{watch-status-type show.watchstatus}}
      - {{show.watchstatus}}
  </div>
  <div class="detail location">
    <span>Description:</span> {{show.description}}
  </div>
</article>


