
<article class="listing">
 <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
  <img src="{{show.image}}" alt="">
   <small>View Larger</small>
 </a>
  <h3>{{show.title}}</h3> 
<div>
    <input  {{action 'func'}} type="checkbox" name="type" value="Watched" id="h"/>Watched<br/>
    <input {{action 'func'}} type="checkbox" name="type" value="Watched some of it" id="r" />Watched some of it<br/>
    <input  {{action 'func'}} type="checkbox" name="type" value="Did not watch" id="a" />Did not watch<br/>

</div>
  <div class="detail owner">
    <span>Producer:</span> {{show.producer}}
  </div>
  <div class="detail type">
    <span>Rating:</span> {{show.rating}}
  </div>
    <div class="detail status">
    <span>Watch Status:</span> {{watch-status-type show.watchstatus}}
      - {{show.watchstatus}}
  </div>
  <div class="detail location">
    <span>Description:</span> {{show.description}}
  </div>
</article>


